.places{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

.places h1{
    font-size: 30px;
    text-align: left;
    display: block;
    flex-grow: 2;
    width: 100%;
    margin-left: 1em;
}

.places article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
}
.places article h2{
    font-size: 30px;
    text-align: center;
    margin-top: 0.1em;
}