.places{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

.places h1{
    font-size: 30px;
    text-align: left;
    display: block;
    flex-grow: 2;
    width: 100%;
    margin-left: 1em;
}

.places article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
}
.places article h2{
    font-size: 30px;
    text-align: center;
    margin-top: 0.1em;
}

.places article .price_by_night{
    color: #FF5A5F;
    border: #FF5A5F 4px solid;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    margin-top: -4.7rem;
    position: absolute;
    margin-left: 11.1em;
}

.places article .price_by_night p{
    margin: 0 auto;
    padding-top: 0.4em;
    padding-left: 0.2em;
}

.places article .information{
    height: 80px;
    border-top: solid #DDDDDD 1px;
    border-bottom: solid #DDDDDD 1px;
    flex: auto;
    display: flex;
    justify-content: space-around;
}

.places article .max_guest{
    width: 100px; 
    background: url("../images/icon_group.png") no-repeat;
    margin-top: 0.5rem;
    margin-left: 2.5rem;
    display: block;
}

.places article .number_rooms{
    width: 100px; 
    background: url("../images/icon_bed.png") no-repeat;
    margin-top: 0.5rem;
    margin-left: 2.5rem;
    display: block;
}

.places article .number_bathrooms{
    width: 100px; 
    background: url("../images/icon_bath.png") no-repeat;
    margin-top: 0.5rem;
    margin-left: 2.5rem;
    display: block;
}

.places article .information p{
    margin-top: 3.3em;
    margin-left: -3.5em;
}

.places article .user{
    margin-top: 1em;
    flex: 1 0 100%;
}

.places article .description p{
    padding-left: 0;
    margin-top: 0;
    text-align: center;
}